
body {
    background-color: #f8f9fa;
    color: #333;
}

.movie-placeholder-img {
    aspect-ratio: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.stats-card {
    border: none;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.stats-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}


.navbar-brand {
    font-weight: bold;
}

footer {
    margin-top: auto;
}

